.hidden {
    display: none;
}

error-message {
    color: red;
}

p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

form {
    font-family: 'Roboto', sans-serif;
}

label{
    font-family: 'Pacifico', cursive;
}

pre {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

form {
    text-align: center; 
}

h1 {
    text-align: center;
    font-family: 'Pacifico', cursive;
}

h2 {
    font-family: 'Pacifico', cursive;
}

h3 {
    font-family: 'Pacifico', cursive;
}

ul {
    list-style: 
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}
